@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Task Demo!</h1>
    <p>Invoice Db View can be viewed <a asp-controller="Invoice" asp-action="Index">from here</a>.</p>
</div>
